:root {
    --bg-color: #242424;
    --header-text-color: #FFFFFF;
    --regular-text-color: #7F7F7F;
    --input-stroke-color: #3D3D3D;
    --valued-item-color: #4B72C2;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('img/bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-family: 'Poppins';
}

label,p {
    color: var(--regular-text-color);
    font-size: 14px;
}

.radio-item {
    display: flex;
    gap: 8px;
}

input[type="checkbox"] {
    border: 1px solid var(--input-stroke-color);
    accent-color: var(--valued-item-color);
    width: 16px;
    height: 16px;
    cursor: pointer;
}

select:focus {
    border: 1px solid var(--valued-item-color);
}

input[type="radio"] {
    border: 1px solid var(--input-stroke-color);
    accent-color: var(--valued-item-color);
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.label-checkbox{
    display:flex;
    gap:8px;
    align-items:center;
}

input {
    background-color: transparent;
    border: 1px solid var(--input-stroke-color);
    height: 40px;
    width: 100%;
    color: white;
    outline: none;
    font-size:14px;
    padding-left:20px;
    border-radius:4px;
}
    
input::placeholder{
    color:var(--regular-text-color);
    font-size:14px;
}

input:focus{
    border: 1px solid var(--valued-item-color);
}

form {
    width: 73%;
    min-height: 100%;
    background-color: var(--bg-color);
    padding-inline: 180px;
    padding-top: 50px;
    padding-bottom: 50px;
}

form .header-title-semititle h1{
    color: var(--header-text-color);
    font-size: 32px;
}

form .header-title-semititle p{
    color:var(--regular-text-color);
    font-size:16px;
}
form .line-section{
    display:flex;
    justify-content:space-between;
    gap:40px;
}
form .second-line-section{
    display:flex;
    justify-content:space-between;
    gap:40px;
}
.label-input{
    width:100%;
    display:flex;
    flex-direction:column;
    gap:5px;
}
.label-input-dropdown {
    width: 170px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.full-input-width {
    width: 100%;
}

form .inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form .inputs{
    width:100%;
}


.genders{
    display:flex;
    gap:20px;
}

select {
    background-color: transparent;
    border: 1px solid var(--input-stroke-color);
    color: var(--regular-text-color);
    width: 170px;
    height: 40px;
    padding-left: 20px;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
}

.checkbox{
    display:flex;
    flex-direction:column;
    gap:10px;
}
.checkbox-inputs{
    display:flex;
    justify-content:space-between;
}

.last-line-section{
    display:flex;
    flex-direction:column;
    gap:5px;
}
hr {
    border:2px solid #3D3D3D;
}

button {
    height: 40px;
    font-size: 14px;
    color: white;
    background-color: var(--valued-item-color);
    border:1px solid var(--valued-item-color);
    transition:0.3s ease all
}

button:hover{
    background-color:var(--bg-color);
    color:var(--valued-item-color);
}